
<div>
    <h1>Shark List, ordered by age</h1>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Ocean</th>
        <th>Details</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of sharkList$ |async ">
            <td>{{item.id}}</td>
            <td>{{ item.nume | uppercase }}</td>   
            <td>{{item.oceanId}}</td>
            <td><button class="button" routerLink="/show-shark/{{item.id}}">Details</button></td>
        </tr>
</table>
</div>

