.body{
    background-image: url('https://www.surfertoday.com/images/stories/physical-world-map.jpg');			
    background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(2, 92, 2, 0.6);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(2, 92, 2, 0.7);
  }